# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/dbnavigator.xml
.idea/modules.xml
.idea/tdc.iml
.idea/workspace.xml
.idea/inspectionProfiles/
client/build/
client/node_modules/
client/prototype/
client/public/
client/src/
